:root {
  --doc-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
  background-color: #e6e6dc;
  color: #3e4a3d;

  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;

  width: 100vw;
  height: 100vh;
  height: var(--doc-height);

  > * {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#uppy {
  overflow-y: scroll;
  height: 100%;
}

#top {
  display: flex;
  align-items: center;
}

  #top h1 {
    margin: 0px;
    white-space: nowrap;
  }

  #top img {
    max-height: 32px;
    cursor: pointer;
  }

  #top a {
    margin-left: 3px;
    color: transparent;
    font-size: 0;
    transition: color 0.3s;
  }
    #top a.copied {
      color: unset;
      font-size: unset;
    }
      #top a.copied img {
        display: none;
      }


#toolbar {
  display: flex;
  align-items: end;
}

  #toolbar button, .uppy-Dashboard-AddFiles-title button {
    all: initial;
    font-family: inherit;
    
    width: auto;
    min-height: 40px;
    background-color: #a1afa0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    border-radius: 4px;
    user-select: none;
    transition-duration: 0.3s;
    transition-property: background-color;
    text-align: center;
    padding: 7px;
  }

    #toolbar button img {
      max-height: 2.5em;
    }

  .uppy-Dashboard-AddFiles-title button {
    display: inline-flex;
    align-items: center;
    text-transform: capitalize;
    /* Copy attributes from toolbar */
    font-weight: 500;
    font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
  }

  .uppy-Dashboard-AddFiles-title button:before {
    content: '';
    background: url('vendored/upload.svg') no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
    margin-right: 5px;
  }

  #toolbar button:not(:disabled):hover,
  .uppy-Dashboard-AddFiles-title button:not(:disabled):hover {
    background-color: #189c38;
  }
  #toolbar button:not(:disabled),
  .uppy-Dashboard-AddFiles-title button:not(:disabled) {
    cursor: pointer;
    background-color: #1bb240;
  }

  #toolbar #download {
    padding-right: 13px;
    display: flex;
    align-items: center;

    flex-shrink: 0;
  }

  #toolbar #preview {
    margin-left: 0.5em;
    margin-right: 0.5em;

    flex-shrink: 0;
  }

    #toolbar #preview:not(:disabled) {
      background-color: #a1afa0;
    }


  #toolbar #last-update {
    margin-left: 0.5em;
    margin-top: 0px;
    margin-bottom: 0px;
  }

.gallery {
  column-count: 6;
  --gallery-gap: 15px;
}
@media (max-width: 540px) {
  .gallery {
    column-count: 3;
    --gallery-gap: 8px;
  }
}

.gallery {
  column-gap: var(--gallery-gap);
}
  .gallery .thumbnail {
    break-inside: avoid;
    margin-bottom: var(--gallery-gap);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-wrap: break-word;
    text-align: center;
  }
  .gallery .thumbnail .filename {
    font-weight: bold;
  }
  .gallery .thumbnail img {
    width: 100%;
    height: auto;
    max-height: 128px;
    display: block;
    object-fit: contain;
  }
  .gallery .thumbnail .info {
    padding: 4px;
  }
  .gallery .thumbnail .info p {
    margin: 0px;
    font-size: 0.7em;
    color: #333;
  }

.tingle-modal__close {
  color: #757575;
}
@media (max-width: 540px) {
  .tingle-modal__close {
    background-color: unset;
  }
  .tingle-modal-box__content {
    padding: 1rem 1rem;
  }
}

.uppy-Dashboard-AddFiles-title,
.uppy-size--md .uppy-Dashboard-AddFiles-title {
  color: unset;
  font-size: 23px;
}

.uppy-Dashboard-note {
  font-size: 17px;
}

.uppy-Dashboard-browse {
  color: #1bb240;
}
  .uppy-Dashboard-browse:hover {
    border-bottom: 1px solid #1bb240;
  }

footer {
  font-size: 75%;
}
  footer p {
    margin-top: 0;
  }
