*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;

  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;

  width: 100vw;
  height: 100vh;
  min-height: 100%;

  > * {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#uppy {
  overflow-y: scroll;
}

#top {
  display: flex;
  align-items: center;
}

  #top h1 {
    margin: 0px;
    white-space: nowrap;
  }

  #top img {
    max-height: 32px;
  }

  #top a {
    color: transparent;
    transition: color 0.3s;

    &.copied {
      color: unset; 
    }
  }


#toolbar {
  display: flex;
  align-items: end;
}

  #toolbar button {
    all: initial;
    font-family: inherit;
    
    width: auto;
    background-color: lightgray;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    border-radius: 4px;
    user-select: none;
    transition-duration: 0.3s;
    transition-property: background-color;
    text-align: center;
  }

    #toolbar button img {
      max-height: 2.5em;
    }


  #toolbar button:not(:disabled):hover {
    background-color: #189c38;
  }
  #toolbar button:not(:disabled) {
    cursor: pointer;
    background-color: #1bb240;
  }

  #toolbar #download {
    padding: 13px;
    padding-right: 22px;
    display: flex;
    align-items: center;

    flex-shrink: 0;
  }

  #toolbar #preview {
    padding: 12px;
    margin-left: 0.5em;
    margin-right: 0.5em;

    flex-shrink: 0;
  }

    #toolbar #preview&:not(:disabled) {
      background-color: #ffdb83;
    }


  #toolbar #last-update {
    margin-left: 0.5em;
    margin-top: 0px;
    margin-bottom: 0px;
  }

li.filelist {
  font-weight: bold;
  .size {
    font-weight: normal;
  }
}

.tingle-modal__close {
  background-color: #f4f4f4;
  color: #757575;
}

footer {
  font-size: 75%;
}
